<div class="row">
    <div class="col-xs-10">
      <ul class="list-group">
        <h1>Emploi du temps</h1>
      </ul>
      <hr>
    </div> 
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive row justify-content-center" style="max-height: 800px"/> 
        </div>
        <div class="form-group">
          <label for="imagePath">Emploi URL</label>
          <input
            type="text"
            id="imagePath"
            [(ngModel)]="emploiURL"
            class="form-control"
            #imagePath
          />
        </div>

      </div>
    </div>
  </div>